<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<head>
    <meta charset="UTF-8">
    <title>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Anton', sans-serif;
        }
    </style>
</head>

<body bgcolor="#33CCFF">
    <!-- background-image: linear-gradient(rgb(89,208,255),rgb(255,255,255)); -->
    <br><br><br>
    <div class="wrap2" style=" text-align: center;">
        <h1> V-log Youtuber ranking top 5 </h1>
        <br>
        <hr><br>
        {{res1.0}}<br> {{res1.1}} <br>{{res1.2}} <br>{{res1.3}}<br> {{res1.4}}<br><br>
        <hr>
    </div>
</body>

</html>
